############################################################
# GoDaddy API Credentials
############################################################

GODADDY_API_KEY=keykeykey
GODADDY_API_SECRET=secret
GODADDY_URL="https://api.godaddy.com"
GODADDY_MAIN_DOMAIN="mydomain.com"

